#service-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% 0 5%;
    width: 100%;
    overflow-x: hidden;
}

#service-content-title-container {
    color: white;
    padding: 2% 0;
    background: linear-gradient(  var(--purple) 0%, var(--light-purple) 160%);
    width: 100vw;
}

    #service-content-title {
        font-size: clamp(2rem, 3.8vw, 3.8rem);
        letter-spacing: 0.2em;
        text-align: center;
    }

#service-top-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7% 10% 3%;
    max-width: 70rem;
}

    #service-top-img {
        border-radius: 25px;
        box-shadow: 0.3em 0.5em 0.5em #6969691f, 0.3em 0.5em 0.5em #7070701f;
        height: 18vw;
        width: 28vw;
        object-fit: cover;
        margin-right: 10%;
    }

    .service-intro-txt {
        font-size: clamp(0.85rem, 1.8vw, 1.8rem);
        line-height: 1.5em;
        letter-spacing: 0.1em;
        color: var(--purple);
        padding: 5% 0 5% 10%;
        margin-left: 10%;
        border-left: 1.5px solid var(--purple)
    }

#service-content-quote-div {
    box-shadow: 0.2em 0.2em 0 var(--light-blue);
    color: var(--purple);
    color: white;
    background: linear-gradient(  var(--purple) 0%, var(--light-purple) 160%);
    font-size: clamp(0.85rem, 1.8vw, 1.8rem);
    letter-spacing: 0.08em;
    border-radius: 0.5em;
    padding: 1.2em;
    margin: 5% 10%;
    max-width: 70rem;
}

    #service-content-quote {
        display: flex;
        margin-bottom: 2%;
    }

        #quote-bulb {
            font-size: clamp(1.5rem, 2.2vw, 2.2rem);
            margin: 0.5% 1% 0 0;
        } 

        #service-content-quote-source {
            display: flex;
            justify-content: flex-end;
        }

            #service-quote-link {
                color: var(--light-grey-5);
            }

                #service-quote-link:hover {
                    color: white;
                }

    

.service-phrase {
    margin: 7% 0 0;
}

#services-container {
    margin: 3% 0;
}

.service-div {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80rem;
}

.reverse {
    flex-direction: row-reverse;
}

    .service-img {
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0.3em 0.5em 0.5em #0000001f, 0.3em 0.5em 0.5em #0000001f;
        width: 12vw;
        height: 12vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .service-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .service-item {
        padding: 1em;
        width: 60%;
        margin: 3%;
        background: white;
        color: var(--purple);
    }

        .service-title {
            margin-left: 2%;
        }

        .service-item-txt {
            padding: 1.2em;
            border: 0.1rem solid var(--purple);
            border-radius: 25px;
            box-shadow: 0.3em 0.5em 0.5em #6666661f, 0.3em 0.5em 0.5em #7c7c7c1f;
            font-size: clamp(0.5rem, 1.5vw, 1.3rem);
            letter-spacing: 0.1em;
            line-height: 1.5em;
        }

#service-txt-bot {
    width: 80%;
    margin-bottom: 3%;
    max-width: 70rem;
}

#pricing-link {
    width: fit-content;
}

@media screen and (max-width: 770px) {
    #service-top-intro {
        flex-direction: column;
        margin: 7% 2% 0;
    }

        #service-top-img {
            width: 70vw;
            height: 40vw;
            margin-left: 0;
        }

        .service-intro-txt {
            padding: 5%;
            border-left: 0;
            margin: 0;
            font-size: clamp(1rem, 1.8vw, 2rem);
        }

    #service-content-quote-div {
        margin: 5% 10%;
    }

    .service-phrase {
        margin: 1% 5% 10%;
        font-size: clamp(1rem, 1.8vw, 2rem);
    }

    .service-div {
        flex-direction: column;
        margin: 7% 0 5%;
    }

        .service-item {
            width: 80%;
        }

        .service-img {
            width: 25vw;
            height: 25vw;
        }

        .service-item-txt {
            font-size: clamp(1rem, 1.5vw, 1.3rem);
            line-height: 1.7em;
        }
}

@media screen and (max-width: 520px) {
    #service-top-img {
        width: 90vw;
    }

    #service-content-quote-div {
        margin: 5% 3%;
    }

    .service-img {
        width: 45vw;
        height: 45vw;
    }

    .service-item {
        width: 93%;
    }

    .service-item-txt {
        padding: 0.8em;
    }

    #service-txt-bot {
        width: 93%;
    }
}