#service-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% 0 5%;
    width: 100%;
}

#service-content-title-container {
    color: white;
    padding: 2% 0;
    background: linear-gradient(  var(--purple) 0%, var(--light-purple) 160%);
    width: 100vw;
}

    #service-content-title {
        font-size: clamp(2rem, 4.8vw, 5rem);
        letter-spacing: 0.2em;
        text-align: center;
    }

#service-top-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7% 7% 3%;
}

    #service-top-img {
        border-radius: 25px;
        box-shadow: 0.3em 0.5em 0.5em #0000001f, 0.3em 0.5em 0.5em #0000001f;
        height: 25vw;
        width: 35vw;
        object-fit: cover;
        margin-left: 5%;
    }

    .service-intro-txt {
        font-size: clamp(1.6rem, 2.5vw, 2.5rem);
        letter-spacing: 0.1em;
        color: var(--purple);
        padding: 5%;
        margin: 0 5% 0 10%;
        border-left: 1.5px solid var(--purple)
    }

#service-content-quote-div {
    box-shadow: 0.4em 0.4em 0 var(--light-blue);
    color: var(--purple);
    color: white;
    background: linear-gradient(  var(--purple) 0%, var(--light-purple) 160%);
    font-size: clamp(1rem, 2.8vw, 2rem);
    letter-spacing: 0.08em;
    border-radius: 0.5em;
    padding: 2%;
    margin: 5% 10% 2%;
}

    #service-content-quote {
        display: flex;
        margin-bottom: 2%;
    }

        #quote-bulb {
            font-size: clamp(1.5rem, 2.2vw, 2.2rem);
            margin: 0.5% 1% 0 0;
        } 

        #service-content-quote-source {
            display: flex;
            justify-content: flex-end;
        }

            #service-quote-link {
                color: var(--light-grey-5);
            }

                #service-quote-link:hover {
                    color: white;
                }

    

.service-phrase {
    margin: 1% 10% 3%;
    font-size: clamp(1.5rem, 2.2vw, 2.2rem);
    letter-spacing: 0.1em;
    color: var(--purple);
}

#services-container {
    margin: 3% 0;
}

.service-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reverse {
    flex-direction: row-reverse;
}

    .service-img {
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0.3em 0.5em 0.5em #0000001f, 0.3em 0.5em 0.5em #0000001f;
        width: 15vw;
        height: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .service-img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .service-item {
        padding: 1em;
        width: 60%;
        margin: 3%;
        background: white;
        color: var(--purple);
    }

        .service-item-txt {
            padding: 1.2em;
            border: 0.1rem solid var(--purple);
            border-radius: 25px;
            box-shadow: 0.3em 0.5em 0.5em #4141411f, 0.3em 0.5em 0.5em #5555551f;
        }

#pricing-link {
    width: fit-content;
}

@media screen and (max-width: 768px) {
    #service-content-quote-div {
        margin: 5% 10%;
    }

    .service-phrase {
        margin: 1% 5% 10%;
    }

    .service-div {
        flex-direction: column;
        margin-bottom: 10%;
    }

        .service-item {
            width: 80%;
        }

        .service-img {
            width: 35vw;
            height: 35vw;
        }
}