.flow-swiper {
    width: 70%;
    padding: 5%;
    height: 20vw;
}

    .flow-card {
        height: 20vw;
    }

    .swiper-slide {
        width: fit-content;
        height: 5vw;
    }

@media screen and (max-width: 768px) {
    .flow-swiper {
        height: 35vw;
    }

    .flow-card {
        height: 30vw;
    }
}

@media screen and (max-width: 520px) {
    .flow-swiper {
        height: 60vw;
        width: 75%;
        padding: 10%;
    }

    .flow-card {
        height: 55vw;
    }
}