#about-page {
    margin-top: -7%;
    z-index: -1;
}

    #about-intro {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 3% 5% 3% 10%;
    }

        #intro-right {
            margin: 20% 5% 0 0;
            position: relative;
        }

            #intro-h1-container {
                display: grid;
                padding-left: center;
            }

                #about-h1 {
                    color: var(--purple);
                    font-family: 'Tahoma', sans-serif;
                    font-size: clamp(2rem, 4.8vw, 5rem);
                    left: -8vw;
                    letter-spacing: 0.2em;
                    position: absolute;
                    text-shadow: 0.04em 0.04em 0 var(--light-blue);
                    top: -7vw;
                }

            #about-intro-txt {
                background: linear-gradient(  var(--purple) 0%, var(--light-purple) 160%);
                border-radius: 25px;
                box-shadow: 0.4em 0.4em 0 var(--light-blue);
                color: white;
                font-size: clamp(0.85rem, 1.8vw, 1.8rem);
                letter-spacing: 0.12em;
                line-height: 1.4em;
                margin: 3% 5% 0 15%;
                padding: 0.9em;
            }

        #sf-image {
            border-radius: 25px;
            box-shadow: 0.3em 0.5em 0.5em #0000001f, 0.3em 0.5em 0.5em #0000001f;
            width: 25vw;
        }

    #about-story-section {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 8% 10%;
    }

        #story-h2 {
            color: var(--purple);
            font-size: clamp(2rem, 4vw, 3.5rem);
            letter-spacing: 0.1em;
        }


    #about-mission-section {
        margin: 10% 0;
        z-index: 2;
    }

        #about-mission-text {
            align-items: center;
            background: linear-gradient(  var(--purple) 0%, var(--light-purple) 160%);
            color: white;
            display: flex;
            flex-direction: column;
            padding: 5% 2%;
        }
        
            #mission-h2 {
                font-size: clamp(2rem, 4vw, 3.5rem);
                letter-spacing: 0.1em;
            }


            #mission-p {
                font-size: clamp(1.2rem, 1.8vw, 2rem);
                margin-top: 2%;
                text-align: center;
            }

    #blob-container {
        position: relative;
    }

        .mission-blue-blob::before {
            content: "";
            border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
            display: block;
            height: 25vw;
            width: 45vw;
            will-change: border-radius, transform, opacity;
        }

        .mission-blob-1 {
            animation: sliderShape 8s linear infinite;
            background: var(--light-blue);
            left: 2%;
            position: absolute;
            top: -20%;
            z-index: -2;
            -webkit-animation: sliderShape 8s linear infinite;
        }

        .mission-blob-2 {
            animation: sliderShape 8s linear infinite;
            background: var(--light-blue);
            left: 55%;
            position: absolute;
            top: 2vw;
            z-index: -2;
            -webkit-animation: sliderShape 8s linear infinite;
        }


    #about-team-section {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

        #team-h2 {
            color: var(--purple);
            font-size: clamp(2rem, 4vw, 3.5rem);
            letter-spacing: 0.1em;
        }

        #team-container {
            display: flex;
            flex-direction: row;
            margin: 3% 5% 0;
        }

            .team-member {
                align-items: center;
                margin: 5% 5%;
                display: flex;
                flex-direction: column;
            }

                .team-member-img {
                    border-radius: 50%;
                    box-shadow: 0.3em 0.5em 0.5em #0000001f, 0.3em 0.5em 0.5em #0000001f;
                    width: 15vw;
                }

                .member-bio {
                    color: white;
                    background: linear-gradient(  var(--purple) 0%, var(--light-purple) 160%);
                    border-radius: 25px;
                    box-shadow: 0.4em 0.4em 0 var(--light-blue);
                    margin-top: 7%;
                    padding: 1em;
                }

                    .bio-name {
                        font-family: 'Tahoma', sans-serif;
                        font-size: clamp(1rem, 2vw, 1.5rem);
                        letter-spacing: 0.14em;
                    }

                    .bio-role {
                        font-size: clamp(0.5rem, 1.8vw, 1.3rem);
                        letter-spacing: 0.14em;
                    }

                    .bio-txt {
                        font-size: clamp(0.5rem, 1.5vw, 1.3rem);
                        letter-spacing: 0.1em;
                        line-height: 1.5em;
                        margin-top: 5%;
                    }

    #team-txt-container {
        margin: 0 10% 5%;
    }


