#about-page {
    margin-top: 3%;
    z-index: -1;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #about-top {
        display: flex;
        max-width: 100rem;
    }

    #about-intro {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 3% 5% 3% 10%;
    }

        #intro-right {
            margin: 20% 5% 0 0;
            position: relative;
        }

            #intro-h1-container {
                display: grid;
                padding-left: center;
            }

                #about-h1 {
                    color: var(--purple);
                    font-family: 'Tahoma', sans-serif;
                    font-size: clamp(2rem, 4.8vw, 4.8rem);
                    left: -8vw;
                    letter-spacing: 0.2em;
                    position: absolute;
                    text-shadow: 0.03em 0.03em 0 var(--light-blue);
                    top: -7vw;
                }

            #about-intro-txt {
                background: linear-gradient(  var(--purple) 0%, var(--light-purple) 160%);
                border-radius: 25px;
                box-shadow: 0.2em 0.2em 0 var(--light-blue);
                color: white;
                font-size: clamp(0.85rem, 1.8vw, 1.8rem);
                letter-spacing: 0.12em;
                line-height: 1.4em;
                margin: 3% 5% 0 15%;
                padding: 0.9em;
            }

        #sf-image {
            border-radius: 25px;
            box-shadow: 0.3em 0.5em 0.5em #0000001f, 0.3em 0.5em 0.5em #0000001f;
            width: 25vw;
        }

    #about-story-section {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 8% 10%;
    }

        #story-h2 {
            color: var(--purple);
            font-size: clamp(2rem, 4vw, 3.5rem);
            letter-spacing: 0.1em;
        }


    #about-mission-section {
        margin: 10% 0;
    }

        #about-mission-text {
            align-items: center;
            background: linear-gradient(  var(--purple) 0%, var(--light-purple) 160%);
            color: white;
            display: flex;
            flex-direction: column;
            padding: 3% 2%;
        }
        
            #mission-h2 {
                font-size: clamp(2rem, 4vw, 3.5rem);
                letter-spacing: 0.1em;
            }


            #mission-p {
                font-size: clamp(1.2rem, 1.8vw, 2.3em);
                margin: 2% 5% 0;
                line-height: 1.4em;
                letter-spacing: 0.12em;
            }

    #blob-container {
        position: relative;
    }

        .mission-blue-blob::before {
            content: "";
            border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
            display: block;
            height: 20vw;
            width: 45vw;
            will-change: border-radius, transform, opacity;
        }

        .mission-blob-1 {
            animation: sliderShape 8s linear infinite;
            background: var(--light-blue);
            left: 2%;
            position: absolute;
            top: -20%;
            z-index: -2;
            -webkit-animation: sliderShape 8s linear infinite;
        }

        .mission-blob-2 {
            animation: sliderShape 8s linear infinite;
            background: var(--light-blue);
            left: 55%;
            position: absolute;
            top: 2vw;
            z-index: -2;
            -webkit-animation: sliderShape 8s linear infinite;
        }


    #about-team-section {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

        #team-h2 {
            color: var(--purple);
            font-size: clamp(2rem, 4vw, 3.5rem);
            letter-spacing: 0.1em;
        }

        #team-container {
            display: flex;
            flex-direction: row;
            margin-bottom: 10%;
            gap: 10%;
            max-width: 35rem;
            justify-content: center;
        }

            .team-member {
                align-items: center;
                display: flex;
                flex-direction: column;
            }

                .team-member-img {
                    border-radius: 50%;
                    box-shadow: 0.3em 0.5em 0.5em #0000001f, 0.3em 0.5em 0.5em #0000001f;
                    width: 12vw;
                }

                .member-bio {
                    color: white;
                    background: linear-gradient(  var(--purple) 0%, var(--light-purple) 160%);
                    border-radius: 25px;
                    box-shadow: 0.3em 0.3em 0 var(--light-blue);
                    margin-top: 7%;
                    padding: 1.2em;
                    width: 38vw;
                    max-width: 30rem;
                }

                    .bio-name {
                        font-family: 'Tahoma', sans-serif;
                        font-size: clamp(1rem, 2vw, 1.5rem);
                        letter-spacing: 0.14em;
                        margin-bottom: 1%;
                    }

                    .bio-role {
                        font-size: clamp(0.5rem, 1.8vw, 1.3rem);
                        letter-spacing: 0.14em;
                    }

                    .bio-txt {
                        font-size: clamp(0.5rem, 1.5vw, 1.3rem);
                        letter-spacing: 0.1em;
                        line-height: 1.5em;
                        margin-top: 5%;
                    }

        #partner-logo-container {
            display: flex;
            margin: 3% 0 5%;
            width: 80%;
            justify-content: center;
            align-items: flex-end;
            gap: 15%;
        }

        .partner-logo-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: var(--purple);
        }

        .partner-logo-link:hover {
            color: var(--light-purple)
        }

        .partner-logo {
            max-width: 20vw;
            max-height: 5vw;
            margin: 0 10%;
            object-fit: contain;
        }

        .partner-name {
            font-size: clamp(1.2rem, 1.8vw, 2rem);
            letter-spacing: 0.08em;
            margin-top: 10%;
        }

    #partner-txt {
        width: 70%;
        margin: 0 5% 5%;
    }

    #team-txt-container {
        margin: 0 10% 5%;
    }

    #about-contact-text {
        margin-bottom: 3%;
    }

@media screen and (max-width: 768px) { 
    #about-intro {
        flex-direction: column;
        margin: 3% 0 5% 5%;
    }

        #sf-image {
            width: 50vw;
        }

        #about-h1 {
            top: -85vw;
            left: 30vw;
            font-size: clamp(2rem, 8vw, 5rem);
        }

        #about-intro-txt {
            font-size: clamp(0.7rem, 3vw, 1.8rem);
            position: absolute;
            top: -60vw;
            margin: 3% 0 0 20%;
        }

        #intro-right {
            margin: 20% 5% 0 0;
        }

    #about-story-section {
        margin-top: 0;
    }

        #story-h2 {
            font-size: clamp(2rem, 6vw, 3rem);
        }

    #mission-h2 {
        font-size: clamp(1.8rem, 4vw, 3.5rem);
    }

    #mission-p {
        font-size: clamp(1rem, 1.8vw, 2rem);
    }

    .mission-blob-1 {
        top: -15%;
    }

    .mission-blob-2 {
        top: 100px;
        height: 85px;
    }

    #team-container {
        flex-direction: column;
        margin-bottom: 0;
    }

        .team-member-img {
            width: 30vw;
        }

            .member-bio {
                width: 80vw;
                margin-bottom: 10%;
            } 

        .bio-name {
            font-size: clamp(1rem, 3vw, 4rem);
        }

        .bio-role {
            font-size: clamp(0.8rem, 2.8vw, 2rem);
        }
        
        .bio-txt {
            font-size: clamp(0.8rem, 2.5vw, 2rem);
            margin-top: 3%;
        }

    #partner-logo-container {
        align-items: center;
        gap: 10vw;
    }

    #partner-txt {
        margin: 0 0 5%;
    }
}

@media screen and (max-width: 520px) {
    #about-story-section {
        margin: 0 3% 25%;
    }

    .mission-blob-2 {
        top: 135px;
    }

    #mission-p {
        margin: 2% 3% 5%;
    }

    #team-txt-container {
        margin: 5% 3% 10%;
    }

        #partner-logo-container {
            margin-top: 8%;
        }

            #partner-txt {
                width: 90%;
            }

            .partner-name {
                font-size: 4vw;
            }
}
