#dropdown-menu-items {
    position: absolute;
    text-align: center;
    top: 35%;
    background-color: var(--light-grey);
    border-radius: 25px;
    box-shadow: 0.2rem 0.05rem 0.2rem #0000001f;
    z-index: 2;
}

ul {
    list-style: none;
}

.dropdown-link {
    font-size: 1.2rem;
    margin: 1rem 0;
    text-decoration: none;
    color: var(--purple);
}

.dropdown-li {
    margin: 0.5rem;
}