#main-nav {
    align-items: top;
    display: flex;
    height: 25vh;
    justify-content: space-between;
}

    #nav-logo {
        margin: 10%;
        width: clamp(2.8rem, 6vw, 5rem);
    }

    .main-link-div {
        display: flex;
        flex-direction: row;
    }

        .nav-link {
            color: var(--purple);
            text-decoration: none;
            font-size: clamp(1rem, 1.5vw, 4rem);
            font-weight: bold;
            height: fit-content;
            letter-spacing: 0.12em;
            margin: 2rem;
        }

            .nav-link:hover {
                color: var(--light-purple);
                cursor: pointer;
            }

            .down-arrow {
                font-size: clamp(1rem, 1.5vw, 4rem);
                position: absolute;
                transform: translate(10%, 20%);
            }

            #contact-link {
                color: white;
                background: linear-gradient(  var(--purple) 0%, var(--light-purple) 180%);
                border: 0;
                border-radius: 7px;
                box-shadow: 0.2rem 0.2rem 0 var(--light-blue);
                height: fit-content;
                padding: 0.3rem 0.5rem;
            }

                #contact-link:hover {
                    background: linear-gradient(  var(--purple) 0%, var(--light-purple) 100%);
                    cursor: pointer;
                }

                #contact-link:active {
                    box-shadow: none;
                    transform: translateY(.3vw)
                }

        #dropdown-parent-div {
            position: relative;
        }

    .mobile-nav-trigger {
        display: none;
    }

    #menu-toggle {
        opacity: 0;
        visibility: hidden;
    }

@media screen and (max-width: 768px) {
    #main-nav {
        background-color: white;
        display: flex;
        height: fit-content;
        position: sticky;
        top: 0;
        transition: 3s ease-in-out;
        z-index: 3;
    }

        #nav-logo {
            margin: 2%;
        }

        .main-link-div {
            display: none;
        }

        #menu-toggle {
            opacity: 1;
            margin: 2%;
            visibility: visible;
        }
        
            .mobile-nav-trigger {
                display: block;
            }

            #toggle-checkbox {
                display: none;
            }

            .toggle {
                position: relative;
                width: 5vw;
                cursor: pointer;
                display: block;
                height: calc(4px * 3 + 11px * 2);
            }
      
            .bar {
                position: absolute;
                left: 0;
                right: 0;
                height: 0.5vw;
                border-radius: calc(4px / 2);
                background: var(--purple);
                color: inherit;
                opacity: 1;
                transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
            }
            
            .bar--top {
                bottom: calc(50% + 5px + 4px/ 1);
                transition-property: bottom,margin,transform;
                transition-delay: calc(0s + 0.35s),0s,0s;
            }
            
            .bar--middle {
                top: calc(50% - 4px/ 2);
                transition-property: top,opacity;
                transition-duration: 0.35s,0s;
                transition-delay: calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
            }
            
            .bar--bottom {
                top: calc(50% + 4px + 4px/ 1);
                transition-property: top,transform;
                transition-delay: 0s;
            }
            
            #toggle-checkbox:checked + .toggle .bar--top {
                bottom: calc(50% - 8.5px - 3px);
                margin-bottom: calc(11px + 4px/ 2);
                transform: rotate(45deg);
                transition-delay: calc(0s + 0.35s * .3),calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
            }
            
            #toggle-checkbox:checked + .toggle .bar--middle {
                top: calc(50% + 5px);
                opacity: 0;
                transition-duration: 0.35s,0s;
                transition-delay: 0s,calc(0s + 0.35s);
            }
            
            #toggle-checkbox:checked + .toggle .bar--bottom {
                top: calc(50% - 8.5px/ 2);
                transform: rotate(-45deg);
                transition-delay: calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
            }
}