#main-nav {
    align-items: center;
    display: flex;
    height: fit-content;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 2;
    box-shadow: 0.2em 0.3em 0.3em #8383831f, 0.2em 0.3em 0.3em #7b7b7b1f;
    position: sticky;
    background-color: var(--light-grey-2);
    top: 0;
}

    #nav-logo {
        width: clamp(4rem, 6vw, 5rem);
    }

    .main-link-div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        .nav-link {
            color: var(--purple);
            text-decoration: none;
            font-size: clamp(1rem, 1.5vw, 1.5rem);
            font-weight: bold;
            height: fit-content;
            letter-spacing: 0.15em;
            margin: 1.7rem 4rem;
        }

            .nav-link:hover {
                color: var(--light-purple);
                cursor: pointer;
            }

            .down-arrow {
                font-size: clamp(1rem, 1.5vw, 4rem);
                position: absolute;
                transform: translate(10%, 20%);
            }

            #contact-link {
                color: white;
                background: linear-gradient(  var(--purple) 0%, var(--light-purple) 180%);
                border: 0;
                border-radius: 7px;
                box-shadow: 0.2rem 0.2rem 0 var(--light-blue);
                height: fit-content;
                padding: 0.3rem 0.5rem;
            }

                #contact-link:hover {
                    background: linear-gradient(  var(--purple) 0%, var(--light-purple) 100%);
                    cursor: pointer;
                }

                #contact-link:active {
                    box-shadow: none;
                    transform: translateY(.3vw)
                }

        #dropdown-parent-div {
            position: relative;
        }

    .mobile-nav-trigger {
        display: none;
    }

        .mobile-nav-div {
            z-index: 2;
            position: relative;
        }

    #menu-toggle {
        opacity: 0;
        visibility: hidden;
        display: none;
    }

@media screen and (max-width: 520px) {
    #main-nav {
        justify-content: center;
    }

        #nav-logo {
            width: clamp(3rem, 6vw, 5rem);
        }

        .nav-link {
            margin: 1.2em;
            font-size: clamp(0.8rem, 1.5vw, 4rem);
        }
}