footer {
    align-items: baseline;
    background-color: var(--purple);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    #footer-left {
        align-items: top;
        display: flex;
        flex-direction: row;
    }

        #footer-logo {
            margin: 1rem 1rem 0;
            width: 13rem;
        }

        .footer-col {
            display: flex;
            flex-direction: column;
            margin: 4% 4% 0;
        }

            .footer-col-label {
                font-size: 1.4rem;
                font-weight: bold;
                letter-spacing: 0.2rem;
            }

            .footer-link {
                color: white;
                font-size: 0.9rem;
                letter-spacing: 0.15rem;
                margin: 2%;
                text-decoration: none;
            }

                .footer-link:hover, a:hover {
                    color: var(--light-purple);
                    cursor: pointer;
                }

            #footer-email {
                text-align: center;
                letter-spacing: 0.15rem;
                margin-top: 13%;
            }

    #footer-right {
        padding: 0.5rem;
    }

        .creator-link {
            color: var(--light-purple);
            text-decoration: none;
        }

            .creator-link:hover {
                cursor: pointer;
            }