footer {
    align-items: flex-end;
    background: linear-gradient(  rgba(94, 23, 235, 1) 0%, var(--light-purple) 250%);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

    #footer-left {
        align-items: top;
        display: flex;
        flex-direction: row;
    }

        #footer-logo {
            margin: 5% 5% 0;
            width: 17vw;
        }

        .footer-col {
            display: flex;
            flex-direction: column;
            margin: 4% 4% 0;
        }

            .footer-col-label {
                font-size: clamp(1rem, 1.8vw, 1.8rem);
                font-weight: bold;
                letter-spacing: 0.2em;
            }

            .footer-link {
                color: white;
                font-size: clamp(0.8rem, 1.2vw, 1.2rem);
                letter-spacing: 0.16em;
                margin: 2%;
                text-decoration: none;
            }

                .footer-link:hover, a:hover {
                    color: var(--light-purple);
                    cursor: pointer;
                }

            #footer-email {
                text-align: center;
                letter-spacing: 0.17em;
                margin-top: 13%;
                font-size: clamp(1rem, 1.2vw, 1.15rem);
            }

    #footer-right {
        padding: 1%;
    }

@media screen and (max-width: 768px) {
    #footer-logo {
        margin-right: 10%;
    }

    .footer-col {
        width: 30%;
    }
}

@media screen and (max-width: 520px) {
    #footer-logo {
        width: 25vw;
        margin-top: 10%;
    }

    .footer-col {
        width: 50%;
    }
}
