#landing-page {
    margin-top: -5%;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

    #landing-page-intro {
        align-items: center;
        display: flex;
        padding: 5%;
    }

        #intro-txt-section {
            margin-right: 5%;
        }

            #intro-h2 {
                color: var(--purple);
                font-family: 'Tahoma', sans-serif;
                font-size: 4.5vw;
                letter-spacing: 0.08em;
                padding: 5% 0;
                text-shadow: 0.04em 0.04em 0 var(--light-blue);
                white-space: nowrap;
            }

            #txt-container {
                display: grid;
                width: fit-content;
            }

                #intro-txt {
                    animation: 
                        typing 2s steps(20, end) forwards,
                        blink-caret 1s step-end infinite;
                    border-right: 2px solid var(--light-blue);
                    color: var(--purple);
                    font-size: 2.2vw;
                    overflow: hidden;
                    white-space: nowrap;
                }

        #intro-logo {
            width: 30%;
        }


    #landing-solutions-section {
        align-items: center;
        background: linear-gradient(  rgba(94, 23, 235, 1) 0%, var(--light-purple) 180%);
        color: white;
        display: flex;
        flex-direction: column;
        margin-top: 18%;
        z-index: 2;
    }

        #landing-solutions-h2 {
            font-size: clamp(2rem, 4vw, 3.5rem);
            letter-spacing: 0.1em;
        }

        #solutions-container {
            display: flex;
            align-items: center;
            gap: 3%;
            justify-content: center;
            margin: 3% 0 0;
        }

            .solution-link {
                color: white;
                text-decoration: none;
            }

                .solution {
                    align-items: center;
                    border-radius: 25px;
                    box-shadow: 0.7rem 0.5rem 0.5rem #0000001f, 0.7rem 0.5rem 0.5rem #0000001f;
                    display: flex;
                    font-size: clamp(0.5rem, 1.8vw, 2rem);
                    min-height: 14em;
                    justify-content: center;
                    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                    min-width: 14em;
                }

                        .solution:hover {
                            box-shadow: 0.2rem 0.3rem 0.2rem #0000001f, 0.2rem 0.3rem 0.2rem #0000001f;
                            cursor: pointer;
                            color: white;
                        }

                        .solution-txt {
                            background-color: var(--purple);
                            border-radius: 7px;
                            letter-spacing: 0.1em;
                            padding: 0.2em 0.5em;
                            transition: all 0.3s ease;
                        }

                #hr-solution {
                    background-image: url(../../assets/images/landing-page/landing-hr.jpg);
                    background-position: center;
                    background-size: cover;
                }

                #operations-solution {
                    background-image: url(../../assets/images/landing-page/landing-operations.jpg);
                    background-position: center;
                    background-size: cover;
                }

                #finance-solution {
                    background-image: url(../../assets/images/landing-page/landing-finance.jpg);
                    background-size: cover;
                }

            #solutions-bottom-txt {
                font-size: clamp(1.5rem, 2.5vw, 2.5rem);
                letter-spacing: 0.1em;
                margin: 3% 12%;
                text-align: center;
            }


    #landing-stats-section {
        align-items: center;
        background-color: var(--light-blue);
        display: flex;
        flex-direction: column;
        height: 70vh;
    }

        #stats-h2 {
            color: white;
            font-size: clamp(2rem, 3vw, 3rem);
            letter-spacing: 0.1em;
            margin-top: 7%;
        }


    #landing-flow-section {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

        #flow-h2 {
            color: var(--purple);
            font-size: clamp(2rem, 3vw, 3rem);
            letter-spacing: 0.1em;
        }

        #flow-container {
            display: grid;
            justify-content: center;
            margin-top: 5%;
            gap: 2%;
            grid-template-columns: 20% 20% 20% 20% 20%;
        }

            .flow-card {
                align-items: center;
                border: 0.4vw solid var(--purple);
                border-radius: 10px;
                box-shadow: 0.3em 0.5em 0.5em #0000001f, 0.3em 0.5em 0.5em #0000001f;
                display: flex;
                flex-direction: column;
                margin: 1%;
                padding: 2% 2% 10%;
                width: clamp(8rem, 13vw, 15rem);
            }

                .flow-icon {
                    background: linear-gradient(  rgba(94, 23, 235, 1) 0%, var(--light-purple) 200%);
                    border-radius: 50%;
                    color: white;
                    font-size: clamp(1.5rem, 3vw, 2.2rem);
                    padding: 0.4em;
                    position: relative;
                    top: -8%;
                }

                .flow-number {
                    color: var(--purple);
                    font-family: 'Tahoma', sans-serif;
                    font-size: clamp(1rem, 2vw, 1.8rem);
                    margin-top: -8%;
                }

                .flow-title {
                    color: var(--purple);
                    font-family: 'Tahoma', sans-serif;
                    font-size: clamp(1rem, 2vw, 1.5rem);
                }

                .flow-txt {
                    color: var(--purple);
                    font-size: clamp(0.5rem, 1.2vw, 1.3rem);
                    letter-spacing: 0.1em;
                    margin: 10% 7%;
                    text-align: center;
                }


    #landing-testimonials-section {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 10% 3% 0;
        position: relative;
    }

        #testimonials-h2 {
            color: var(--purple);
            font-size: clamp(2rem, 3vw, 3rem);
            letter-spacing: 0.1em;
        }

            #testimonials-container {
                align-items: top;
                background: linear-gradient(  rgba(94, 23, 235, 1) 0%, var(--light-purple) 180%);
                border-radius: 25px;
                box-shadow: 0.5em 0.5em 0 var(--light-blue);
                display: flex;
                flex-direction: row;
                margin: 3% 3% 0;
            }

                .testimonial-card {
                    color: white;
                    border-radius: 25px;
                    font-weight: bolder;
                    letter-spacing: 0.1em;
                    padding: 2%;
                    width: 70%;
                }

                    .testimonial-top {
                        display: flex;
                        flex-direction: row;
                    }

                        .testimonial-icon {
                            color: white;
                            background-color: var(--light-blue);
                            border-radius: 50px;
                            box-shadow: 0.7rem 0.5rem 0.5rem #0000001f, 0.7rem 0.5rem 0.5rem #0000001f;
                            font-size: clamp(2.2rem, 4vw, 2.5rem);
                            height: fit-content;
                            margin-top: 2%;
                            padding: 2%;
                        }

                            .testimonial-name {
                                font-family: 'Tahoma', sans-serif;
                                font-size: clamp(1rem, 2vw, 1.5rem);
                                letter-spacing: 0.12em;
                                margin: 2% 8%;
                            }

                            .testimonial-role {
                                font-size: clamp(0.5rem, 1.8vw, 1.3rem);
                                margin: 2% 8%;
                            }

                    .testimonial-txt {
                        font-size: clamp(0.5rem, 1.5vw, 1.3rem);
                        letter-spacing: 0.1em;
                        line-height: 1.5em;
                        margin-top: 5%;
                    }

        #landing-added-txt {
            margin-bottom: 5%;
        }

    .blob-6 {
        animation: sliderShape 10s linear infinite;
        background: var(--light-blue);
        left: -15%;
        position: absolute;
        top: 32vw;
        z-index: -2;
        -webkit-animation: sliderShape 10s linear infinite;
    }

    .blob-5 {
        animation: sliderShape 15s linear infinite;
        background: var(--light-blue);
        left: 15%;
        position: absolute;
        top: 37vw;
        z-index: -2;
        -webkit-animation: sliderShape 15s linear infinite;
    }

    .blob-4 {
        animation: sliderShape 13s linear infinite;
        background: var(--light-blue);
        left: 55%;
        position: absolute;
        top: 32vw;
        z-index: -2;
        -webkit-animation: sliderShape 13s linear infinite;
    }

    .blob-3 {
        animation: sliderShape 15s linear infinite;
        background: var(--purple);
        left: -20%;
        position: absolute;
        top: 35vw;
        z-index: -1;
        -webkit-animation: sliderShape 15s linear infinite;
    }

    .blob-2 {
        animation: sliderShape 18s linear infinite;
        background: var(--purple);
        left: 60%;
        position: absolute;
        top: 35vw;
        z-index: -1;
        -webkit-animation: sliderShape 18s linear infinite;
    }

    .blob-1 {
        animation: sliderShape 16s linear infinite;
        background: var(--purple);
        left: 15%;
        position: absolute;
        top: 40vw;
        z-index: -1;
        -webkit-animation: sliderShape 16s linear infinite;
    }

    .blue-blob::before {
        border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
        display: block;
        content: "";
        height: 50vw;
        width: 60vw;
        will-change: border-radius, transform, opacity;
    }

    .purple-blob::before {
        border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
        content: "";
        display: block;
        height: 50vw;
        width: 60vw;
        will-change: border-radius, transform, opacity;
    }


@keyframes sliderShape{
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 60% 30% 46% 54% / 40% 29% 61% 60%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
}

@keyframes typing {
    from { width: 0 }
    50% { width: 50% }
    100% { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(32, 40, 90) }
}