#price-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: -7%;
    padding: 4% 0 10% 0;
    z-index: -1;
}

#price-headline {
    align-items: center;
    display: flex;
    flex-direction: column;
}

    #price-h1 {
        color: var(--purple);
        font-family: 'Tahoma', sans-serif;
        font-size: clamp(0rem, 3.5vw, 1000rem);
        letter-spacing: 0.1em;
        margin: 0 2%;
        text-align: center;
        text-shadow: 0.04em 0.04em 0 var(--light-blue);
    }

    #price-intro-txt {
        color: var(--purple);
        font-size: clamp(1rem, 1.6vw, 2rem);
        letter-spacing: 0.08em;
        margin: 2% 12% 5%;
    }


.price-table {
    border-collapse: collapse;
    margin: 1% 0;
    width: 70%;
}

    th {
        color: white;
        background: linear-gradient(  var(--purple) 0%, transparent 180%);
        font-size: clamp(0.85rem, 1.8vw, 1.8rem);
        letter-spacing: 0.08em;
        padding: 2%;
    }

        .plan-title {
            backdrop-filter: blur(5px);
            background: linear-gradient(  var(--purple) 0%, transparent 180%);
            font-size: clamp(1.2rem, 1.8vw, 2rem);
            position: sticky;
            top: 0;
        }

            .th-icon {
                font-size: clamp(1.2rem, 1.8vw, 2rem);
                position: absolute;
                transform: translate(-120%, 10%);
            }

            .table-icon {
                position: absolute;
                transform: translate(-140%, 30%);
                font-size: clamp(1rem, 1.4vw, 1.8rem);
            }

            .support-icon {
                font-size: clamp(0.85rem, 1.8vw, 1.8rem);
            }

    .tr-odd {
        background-color: var(--light-grey);
    }

    .tr-even {
        background-color: var(--light-grey-2);
    }

    #top-row-l {
        border-radius: 25px 0 0 0;
    }
    
    #top-row-r {
        border-radius: 0 25px 0 0;
    }
    
    #bot-row-l {
        border-radius: 0 0 0 25px;
    }
    
    #bot-row-r {
        border-radius: 0 0 25px 0;
    }

    #link-row {
        padding-top: 5%;
    }

        td {
            color: var(--purple);
            font-size: clamp(0.5rem, 1.2vw, 1.2rem);
            letter-spacing: 0.1em;
            line-height: 1.5em;
            padding: 2% 5%;
            width: 20%; 
        }

            .price-txt, .service-txt {
                margin-bottom: 0.2em;
            }

            .price-txt {
                font-size: clamp(0.5rem, 1.6vw, 1.8rem);
            }

            .price-num {
                font-weight: bold;
                font-size: clamp(0.5rem, 1.6vw, 1.8rem);
                margin-bottom: 0.7em;
            }
            
                .price-icons {
                    position: absolute;
                    transform: translate(10%, 20%);
                }

            .contact-link-price {
                color: white;
                background: linear-gradient(  var(--purple) 0%, var(--light-purple) 180%);
                border: 0;
                border-radius: 0.5em;
                box-shadow: 0.2em 0.2em 0 var(--light-blue);
                height: fit-content;
                padding: 0.3rem 0.5rem;
                font-size: clamp(0.4rem, 1.4vw, 1.8rem);
                margin: 0;
            }

                .contact-link-price:hover {
                    background: linear-gradient(  var(--purple) 0%, var(--light-purple) 100%);
                    cursor: pointer;
                }

                .contact-link-price:active {
                    box-shadow: none;
                    transform: translateY(.3vw)
                }

            .caption {
                color: var(--purple);
                font-size: clamp(0.85rem, 1.8vw, 1.8rem);
                letter-spacing: 0.1em;
                padding: 5% 0 1%;
                text-align: center;
            }

            .label-td {
                background-color: white;
            }

                .label-link {
                    color: var(--purple);
                    text-decoration: none;
                }

                    .solution-label {
                        border: 0.1rem solid var(--purple);
                        border-radius: 0.5em;
                        box-shadow: 0.3rem 0.2rem 0.5rem #0000001f, 0.3rem 0.2rem 0.5rem #0000001f;
                        font-size: clamp(0.5rem, 1.3vw, 1.1rem);
                        padding: 2% 4%;
                        text-align: center;
                        width: 87%;
                    }

                    .solution-label:hover {
                        box-shadow: 0.1rem 0.1rem 0.2rem #0000001f, 0.1rem 0.1rem 0.1rem #0000001f;
                    }
            
            .lets-talk-link-price {
                border-radius: 0.5em;
                font-size: clamp(0.8rem, 1.5vw, 1.5rem);
            }

        .side-td {
            padding: 2% 2%;
            width: 8%;
            white-space: normal;
        }

        .border-r {
            border-right: 3px dotted var(--light-grey-3);
        }

    #price-faq-section {
        margin-top: 5%;
    }

    #terms-section {
        margin-top: 5%;
    }
