#price-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0 10% 0;
}

#price-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#price-h1 {
    color: var(--purple);
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

#price-h2 {
    margin-top: 1%;
    color: var(--purple);
    font-size: 1.5rem;
    text-align: center;
}

.price-table {
    margin: 5% 0 0;
    border-collapse: collapse;
}

.plan-title {
    padding: 1rem;
    color: white;
    background: linear-gradient(  var(--purple) 0%, transparent 180%);
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
}

th {
    font-size: 2rem;
    color: var(--purple);
}

.th-icon {
    font-size: 2rem;
}

td {
   width: 25rem; 
   color: var(--purple);
   font-size: 1.2rem;
   padding: 0.5rem;
}

.tr-odd {
    background-color: var(--light-grey);
}

.side-td {
    width: 8rem;
}

.caption {
    color: var(--purple);
    font-size: 1.8rem;
    text-align: center;
    padding: 4rem 0 1rem;
}

/* .grid-title {
    border-radius: 25px;
    border: 1px solid var(--purple);
    padding: 5%;
    font-size: 2.5rem;
    background: linear-gradient(  rgba(94, 23, 235, 1) 0%, transparent 90%);
    backdrop-filter: blur(5px);
} */