@font-face {
    font-family: 'Tahoma';
    src: url('./assets/fonts/Tahoma.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Light.ttf');
}

:root {
    --purple: #5E17EB;
    --light-purple: #bba6e8;
    --light-blue: #B1C5EC;
    --light-grey: #f6f6f6;
    --light-grey-2: #eeeeee;
    --light-grey-3: #e2e2e2;
    --grey: #737D91;
    --black: #2c2c2c;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.added-txt {
    color: var(--purple);
    font-size: 2rem;
    margin: 5% 3% 0;
    letter-spacing: 0.15rem;
    line-height: 2.3rem;
}

.added-txt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10%;
}

.lets-talk-link {
    margin: 0 0 5%;
    font-size: 2rem;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    background: linear-gradient(  var(--purple) 0%, var(--light-purple) 180%);
    color: white;
    border: 0;
    border-radius: 25px;
    box-shadow: 0.3rem 0.3rem 0 var(--light-blue);
}

.lets-talk-link:hover {
    cursor: pointer;
    background: linear-gradient(  var(--purple) 0%, var(--light-purple) 100%);
    color: white;
}

.lets-talk-link:active {
    box-shadow: none;
    transform: translateY(.3vw)
}