#contact-page {
    align-items: flex-start;
    display: flex;
    margin:  0 0 8%;
    overflow-x: hidden;
    padding: 0 5% 5%;
}

    #contact-page-l {
        display: flex;
        flex-direction: column;
        width: 45%;
    }

        #contact-page-l-top {
            display: flex;
            flex-direction: column;
        }

            #contact-h1 {
                color: var(--purple);
                font-family: 'Tahoma', sans-serif;
                font-size: clamp(2.5rem, 5vw, 4rem);
                letter-spacing: 0.2em;
                margin: 10% 0 0 10%;
                text-shadow: 0.04em 0.04em 0 var(--light-blue);
            }

            #contact-page-txt {
                font-size: clamp(0.8rem, 2.5vw, 1.8rem);
                margin: 5% 10%;
            }

        #contact-page-l-bot {
            align-items: center;
            display: flex;
            gap: 15%;
            margin: 4% 10% 0;
        }
            #contact-page-email {
                color: var(--purple);
                font-size: clamp(0.8rem, 2.2vw, 1.7rem);
            }

            #linkedin-link {
                color: var(--purple);
                font-size: clamp(2.5rem, 5vw, 4rem);
                text-shadow: 0.04em 0.04em 0 var(--light-blue);
            }

            #linkedin-link:hover {
                text-shadow: none;
            }

    #contact-form {
        background: var(--light-grey);
        border-radius: 25px;
        box-shadow: 0.8rem 0.8rem 0.3rem #0000001f;
        display: flex;
        flex-direction: column;
        padding: 2% 5% 15%;
        position: relative;
        margin-top: 5%;
        max-width: 80vw;
        min-width: 40vw;
    }

        #contact-form-top {
            display: flex;
            flex-direction: row;
        }

            #form-top-l {
                border: 0;
                display: flex;
                flex-direction: column;
                max-width: 45vw;
                min-width: 20vw;
                padding-right: 2%;
            }
            
                .form-label {
                    color: var(--purple);
                    display: flex;
                    flex-direction: column;
                    font-size: clamp(1.2rem, 2.5vw, 1.6rem);
                    font-weight: bold;
                    letter-spacing: 0.08em;
                    padding: 2% 3% 3% 0;
                }

                .form-input {
                    border: 0;
                    border-radius: 5px;
                    font-family: 'Lato', sans-serif;
                    font-size: clamp(0.8rem, 2vw, 1.4rem);
                    line-height: 1.8em;
                    margin: 5% 0 0;
                    padding: 0.2em 0.4em;
                }

            #form-top-r {
                align-items: flex-start;
                border: 0;
                border-left: 1.2px solid var(--light-purple);
                display: flex;
                flex-direction: column;
                padding: 10% 0% 0% 5%;
            }

                #service-select {
                    flex-direction: row-reverse;
                    font-size: clamp(0.8rem, 2vw, 1.4rem);
                    overflow-wrap: break-word;
                }

                .form-checkbox {
                    margin-right: 0.5em;
                    padding: 0;
                }

                .form-checkbox:hover {
                    cursor: pointer;
                }


        #form-textarea {
            font-size: clamp(1rem, 2vw, 1.8rem);
            margin-top: 2%;
            padding: 0.1em 0.6em;
            width: 97%;
        }

            #form-textarea, .form-input {
                box-shadow: 0.2rem 0.2rem 0.5rem #0000001f, 0.2rem 0.2rem 0.5rem #0000001f;
            }

            #form-textarea:focus, .form-input:focus {
                box-shadow: 0.2rem 0.5rem 0.5rem #0000001f, 0.2rem 0.5rem 0.5rem #0000001f;
                outline: none;
                transform: translateY(-0.3rem);
            }

        #form-submit {
            background: linear-gradient(  var(--purple) 0%, var(--light-purple) 200%);
            border: 0;
            border-radius: 7px;
            box-shadow: 0.7rem 0.5rem 0.5rem #0000001f, 0.7rem 0.5rem 0.5rem #0000001f;
            color: white;
            font-size: clamp(1rem, 2vw, 1.5rem);
            left: 35%;
            padding: 0.3em 0.5em;
            position: absolute;
            top: 90%;
            transition: all 0.3s ease;
            width: 30%;
        }

            #form-submit:hover {
                background: linear-gradient(  var(--purple) 0%, var(--light-purple) 150%);
                cursor: pointer;
            }

            #form-submit:active {
                box-shadow: none;
                transform: translateY(.3vw)
            }

@media screen and (max-width: 768px) {
    #contact-page {
        align-items: center;
        flex-direction: column;
    }

        #contact-page-l {
            width: 90%;
            align-items: center;
        }

            #contact-page-l-top {
                align-items: center;
            }

                #contact-h1 {
                    margin-left: 0;
                }

                #contact-page-txt {
                    margin: 2% 0;
                }

            #contact-page-l-bot {
                margin: 2%;
            }

    .form-label {
        font-size: clamp(1rem, 2.5vw, 1.6rem);
    }

    .form-input {
        font-size: clamp(0.8rem, 2vw, 1.4rem);
    }
}